:root {
  --brand-color: #2196f3;
  --main-site-background-color: #fff;
  --secondary-text-color: #757575;
  --element-background-color: #f5f4fa;
  --secondary-site-background-color: #2f303a;
  --main-text-color: #212121;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-site-background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.button-panel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px 6px 22px;
}
.button-panel button {
  background-color: var(--element-background-color);
  border: 4px var(--element-background-color) solid;
}
.button-panel button:hover,
button:focus {
  color: #ffffff;
  background-color: var(--brand-color);
  border: var(--brand-color) 4px solid;
  cursor: pointer;
}
.button-panel button {
  font-family: 'Roboto', sans-serif;
}
.navigation-links a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #212121;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-links a:hover,
.navigation-links a:focus,
.active-page a {
  color: var(--brand-color);
  text-decoration: none;
}
.contact-info,
.contact-info a {
  font-weight: 500;
  font-size: 14px;
  color: var(--secondary-text-color);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo,
.logo a:visited {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  color: #000;
}
.logo-secondary-color {
  color: var(--brand-color);
}
.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
.bottom-information {
  background-color: var(--secondary-site-background-color);
  color: #fff;
}
.bottom-information a {
  color: #fff;
  text-decoration: none;
}
.contact-info-bottom a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.contact-info-bottom a[href='mailto:info@example.com'] {
  text-decoration: underline;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  background-color: var(--secondary-site-background-color);
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.06em;
}
.background-color {
  background-color: var(--secondary-site-background-color);
}
.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.job-description {
  color: var(--secondary-text-color);
  line-height: 1.18;
}
.text-header {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
}

.our-crew-list h2,
.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.our-crew-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}
.list {
  list-style: none;
}
.contact-info:hover,
.contact-info:focus,
.contact-info-mail:hover,
.contact-info-mail:focus {
  color: var(--main-site-background-color);
  background-color: var(--brand-color);
}
.main-button button {
  padding: 10px 41px 10px 42px;
  color: var(--main-site-background-color);
  background-color: var(--brand-color);
  border: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.main-button button:hover,
.main-button button:focus {
  color: var(--main-text-color);
  background-color: var(--element-background-color);
}
.our-crew-list {
  background-color: var(--element-background-color);
}

.contact-info-bottom .contact-info-mail[href='mailto:info@example.com'] {
  text-decoration: none;
}
