:root {
  --brand-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
.button-panel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px 6px 22px;
}
.button-panel button {
  background-color: #f5f4fa;
  border: 4px #f5f4fa solid;
}
.button-panel button:hover,
button:focus {
  color: #ffffff;
  background-color: var(--brand-color);
  border: var(--brand-color) 4px solid;
  cursor: pointer;
}
.button-panel button {
  font-family: 'Roboto', sans-serif;
}
.navigation-links a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #212121;
  line-height: 1.14;
}
.navigation-links a:hover,
.navigation-links a:focus,
.active-page a {
  color: var(--brand-color);
  text-decoration: none;
}
.contact-info,
.contact-info a {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  line-height: 1.14;
}
.logo,
.logo a:visited {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  color: #000;
}
.logo-secondary-color {
  color: var(--brand-color);
}
.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
.bottom-information {
  background-color: #2f303a;
  color: #fff;
}
.bottom-information a {
  color: #fff;
  text-decoration: none;
}
.contact-info-bottom a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.bottom-information .contact-info-bottom a[href='mailto:info@example.com'] {
  text-decoration: underline;
}
